<% layout('/layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <!-- *Edit Form Starts -->
        <form
            action="/campgrounds/<%= campground._id %>?_method=PUT"
            method="POST"
            novalidate
            class="validated-form"
            enctype="multipart/form-data"
        >
            <!-- *Campground Title Input -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    name="campground[title]"
                    id="title"
                    value="<%= campground.title %>"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- *Campground Location Input -->
            <div class="mb-3">
                <label class="form-label" for="location">Locations</label>
                <input
                    class="form-control"
                    type="text"
                    name="campground[location]"
                    id="location"
                    value="<%= campground.location %>"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- *Campground Price Input -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="0"
                        aria-label="price"
                        aria-describedby="price-label"
                        id="price"
                        name="campground[price]"
                        value="<%= campground.price %>"
                        required
                    />
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <!-- *Campground Description Input -->
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea
                    class="form-control"
                    type="text"
                    name="campground[description]"
                    id="description"
                    required
                >
<%= campground.description %></textarea
                >
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- *Campground Image Input -->
            <div class="mb-3">
                <div class="input-group">
                    <input type="file" class="form-control" id="image" name="image" multiple />
                    <label for="image" class="input-group-text" for="image">Upload</label>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="" />
                <div class="form-check-inline">
                    <!-- Creating a checkbox for each image in the campground. -->
                    <input
                        type="checkbox"
                        id="image-<%= i %>"
                        name="deleteImages[]"
                        value="<%= img.filename %>"
                    />
                </div>
                <label for="image-<%= i %>">Delete?</label>
                <% }) %>
            </div>

            <!-- *Update Campground Button -->
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <!-- *Edit Form Ends -->

        <!-- *Back to campground link  -->
        <a href="/campgrounds/<%= campground._id %> ">Back To Campground</a>
    </div>
</div>
