<% layout('/layouts/boilerplate') %>
<div id="cluster-map"></div>
<div class="container my-3">
    <h1 class="text-center">All Campgrounds</h1>

    <div class="row">
        <% for( campground of campgrounds) { %>
        <div class="col-12 col-md-6 col-lg-4">
            <!-- Card -->
            <div class="card text-bg-dark m-2 shadow border-0">
                <!-- Card Link -->
                <a class="text-wrap text-white shadow" href="/campgrounds/<%= campground._id %>">
                    <!-- Card Image -->
                    <% if (campground.images.length) { %>
                    <img
                        src="<%= campground.images[0].url %>"
                        class="card-img"
                        alt="<%= campground.title %>_image"
                    />
                    <% } else { %>
                    <img
                        class="img-fluid"
                        src="https://dummyimage.com/600x400/000/fff.png"
                        alt="No Image"
                    />
                    <% } %>
                    <!-- Card Text -->
                    <div class="card-img-overlay">
                        <h5 class="card-title fw-bold text-capitalize"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description.substring(0, 50) %>...</p>
                        <p class="card-text"><small><%= campground.location %></small></p>
                    </div>
                </a>
            </div>
            <!-- End of Card -->
        </div>

        <% } %>
    </div>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
