<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/starability-basic.css" />

<div class="map mb-2 px-2" id="map" style="width: 100%; height: 300px"></div>
<section class="py-5">
    <!--* CAMPGROUND CONTENT -->
    <div class="container my-3">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!-- *Campground Image Section -->
            <div class="col-12 col-md-7 mb-2">
                <div id="carouselImageControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% campground.images.forEach((img, i) => { %>
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                            <img
                                class="d-block w-100"
                                src="<%= img.url %>"
                                alt="<%= campground.title %>_img_<%= i+1 %>"
                            />
                        </div>
                        <% }) %>
                    </div>

                    <!--* Carousel Controls -->
                    <% if (campground.images.length > 1) { %>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselImageControls"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselImageControls"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
                    <!--* Carousel Controls ENDS -->
                </div>
            </div>
            <!--* Campground Image Section End -->
            <div class="col-12 col-md-5 mb-2">
                <!--  -->
                <!-- *Author Name -->
                <div class="small mb-1 text-capitalize">
                    Submitted By <%= campground.author.username %>
                </div>

                <!-- *Campground Title -->
                <h1 class="display-5 fw-bolder text-capitalize">
                    <%= campground.title %>
                    <span class="fs-5 fw-light mb-0">- <%= campground.location %></span>
                </h1>

                <!-- *Campground Price -->
                <div class="fs-5">
                    <span class="fw-bold fs-3">$<%= campground.price %></span><span>/Night</span>
                </div>

                <!-- *Campground Description -->
                <div><p class="lead text-break"><%= campground.description %></p></div>

                <% if (currentUser && campground.author.equals(currentUser._id)) { %>

                <!-- *EDIT AND DELETE BUTTON -->
                <div class="d-flex">
                    <div class="px-1">
                        <a
                            class="btn btn-outline-dark flex-shrink-0"
                            href="/campgrounds/<%= campground._id %>/edit"
                            ><i class="fa-solid fa-pen-to-square"></i>
                            Edit
                        </a>
                    </div>
                    <div class="px-1">
                        <form
                            class="d-inline"
                            action="/campgrounds/<%= campground._id %>?_method=DELETE"
                            method="post"
                        >
                            <button class="btn btn-outline-danger flex-shrink-0">
                                <i class="fa-solid fa-trash"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <!--* CAMPGROUND REVIEW SECTION STARTS -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <!-- ADD REVIEW START -->
                <h2 class="h4 pb-3">Leave a Review</h2>
                <p class="text-muted"><%= campground.reviews.length %> User Reviews</p>

                <div class="mb-8">
                    <% for( let i = 4; i >= 0; i--) { %>
                    <!-- * Rating Star Progress Bar-->
                    <div class="d-flex align-items-center mb-2">
                        <div class="text-nowrap me-3 text-muted">
                            <span class="d-inline-block align-middle text-muted"
                                ><%= i + 1 %>
                                <i class="fa-solid fa-star text-warning"></i>
                            </span>
                        </div>
                        <div class="w-100">
                            <div class="progress" style="height: 6px">
                                <div
                                    class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="
                                        width: <%= (ratingArray[i]/campground.reviews.length) * 100
                                            %>%;
                                    "
                                    aria-valuenow="<%= ratingArray[i] %>"
                                    aria-valuemin="0"
                                    aria-valuemax="<%= campground.reviews.length %>"
                                ></div>
                            </div>
                        </div>
                        <div>
                            <span class="text-muted ms-3"
                                ><%= (ratingArray[i]/campground.reviews.length) * 100 %>%</span
                            >
                        </div>
                    </div>
                    <% } %>
                </div>

                <% if (currentUser) { %>
                <!-- Add Review Button trigger modal -->
                <div class="mb-4 pb-4 border-bottom">
                    <button
                        type="button"
                        class="btn btn-outline-secondary d-block w-100 mb-4"
                        data-bs-toggle="modal"
                        data-bs-target="#reviewModal"
                    >
                        Leave a Review
                    </button>
                </div>

                <!--* IF NOT LOGGED IN -->
                <% } else { %>
                <div class="mb-4 pb-4 border-bottom">
                    <a class="btn btn-outline-secondary d-block w-100 mb-4" href="/login"
                        >Leave a Review</a
                    >
                </div>

                <% } %>

                <!-- ADD REVIEW END -->
            </div>

            <div class="col-12 col-md-8">
                <!-- CAMPGROUND REVIEWS LIST START -->
                <% for( let review of campground.reviews ) { %>
                <div class="mb-4 pb-4 border-bottom">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="d-flex align-items-center pe-2">
                            <!--TODO: User Image -->
                            <div class="flex-shrink-0 me-3">
                                <img
                                    class="rounded-circle"
                                    style="width: 48px; height: 48px"
                                    src="https://dummyimage.com/600x400/000/fff.png"
                                    alt=""
                                />
                            </div>
                            <div>
                                <h5 class="fs-base mb-0 text-capitalize">
                                    <%= review.author.username %>
                                </h5>
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                    Rated: <%= review.rating %> stars
                                </p>
                            </div>
                        </div>
                        <span class="fs-sm text-muted">Jan 17, 2021</span>
                    </div>
                    <!-- REVIEW BODY TEXT STARTS -->
                    <div class="pb-1"><%= review.body %></div>
                    <!-- REVIEW BODY TEXT ENDS -->

                    <% if (currentUser && review.author.equals(currentUser._id)) { %>
                    <!-- DELETE REVIEW FORM START-->
                    <div class="d-flex align-items-center mt-3">
                        <form
                            action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=Delete"
                            method="POST"
                        >
                            <button class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash"></i>
                                <span>Delete</span>
                            </button>
                        </form>
                    </div>
                    <!-- DELETE REVIEW FORM END-->
                    <% } %>
                </div>
                <% } %>
                <!-- CAMPGROUND REVIEWS LIST ENDS -->
            </div>
        </div>
    </div>
    <!--* CAMPGROUND REVIEW SECTION ENDS -->
</section>

<% if (currentUser) { %>
<!-- Review Modal Form -->
<div
    class="modal fade"
    id="reviewModal"
    tabindex="-1"
    aria-labelledby="reviewModalLabel"
    aria-hidden="true"
    role="dialog"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-block position-relative border-0 pb-0 px-sm-5 px-4">
                <h3 class="modal-title mt-4 text-center" id="reviewModalTitle">Leave a Review</h3>
                <button
                    type="button"
                    class="btn-close position-absolute top-0 end-0 mt-3 me-3"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body px-sm-5 px-4">
                <form
                    class="validated-form"
                    action="/campgrounds/<%= campground._id %>/reviews"
                    method="post"
                    novalidate
                >
                    <div class="mb-3">
                        <fieldset class="starability-basic">
                            <legend>Rating</legend>
                            <input
                                type="radio"
                                id="no-rate"
                                class="input-no-rate"
                                name="review[rating]"
                                value="1"
                                checked
                                aria-label="No rating."
                            />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea
                            class="form-control"
                            name="review[body]"
                            id="body"
                            rows="5"
                            required
                        ></textarea>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <button class="btn btn-primary d-block w-100 mb-4">Submit a review</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% } %>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campground = <%- JSON.stringify(campground) %>
</script>

<script src="/javascripts/showPageMap.js"></script>
